@import "tailwindcss";

/* Global theme */
html, body {
  @apply bg-[#282f4a] text-white min-h-screen;
}

:root {
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply font-bold text-white;
}
a:hover {
  color: #abd6db;
}

